https:
  port:
   
db:
  host: 
  port: 
  user:
  password:
  database: 
  
anypoint:
  platform:
    analytics_base_uri: 
    base_uri: 
    client_id: 
    client_secret: 
    visualizer:
      layer: 

api:
  autodiscovery: 

keystore:
	path:
	password: